*{
    margin: 0;
}

header{
    display: flex;
    flex-direction: column;     
  position: relative;
}

.header:before{
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.9;
    background-color:gray;
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
}

.navbar{
    height:18vh;
    position: relative;
    display: flex;
    align-items: center;
}

.navbar > ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    text-decoration: none;
}

.navbar > ul > li{
    padding: 41px;
}

.lower-header {
    height:74vh;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    position:relative;
    
}

.logoImage{
    height: 160px;
    width: 170px;
    border-radius: 20px;
    opacity: 0.9;
  }

.btn-container{
    display: flex;
    flex-direction:row;
    margin-top :90px;
    max-width: 703px !important;
    justify-content:space-between;
}

.btn{
    color:rgb(0, 0, 0);
    font:bolder;
    margin:0px 30px;
    padding:16px;
    background: rgba(221, 217, 217);
    border: 1px solid blanchedalmond;
    border-radius: 30px;
    box-shadow: 5px 10px 18px #888888;
}


footer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:rgb(104, 94, 94,0.6);
    height: 8vh;
}